.mission {
    margin-top: 87px;
    padding-top: 50px;
    padding-bottom: 100px;
    overflow: hidden;
}

.missionHeading {
    color: #a0ff00;
    display: flex;
    justify-content: center;
    text-align: center;
}

.missionHeading h3 {
    font-weight: 700;
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.missionSubContainer {
    width: 100%;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 7rem;
}

.missionText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
    margin: 0px;
    padding: 0px;
    padding-left: 0.5rem;
    flex-direction: column;
    vertical-align: middle;
    font-size: 1.2rem;
}

.missionIllustration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.missionIllustration img {
    width: 60%;
    height: auto;
}

@media only Screen and (max-width: 1200px){
    .missionIllustration img {
        width: 80%;
    }
}

@media only Screen and (max-width: 1000px){
    .missionText {
        width: 100%;
        order: 1;
    }
    
    .missionIllustration {
        width: 100%;
        order: 0;
        padding-bottom: 2rem;
    }

    .missionIllustration img {
        width: 60%;
    }

    .missionSubContainer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


@media only Screen and (max-width: 600px) {
    .missionIllustration img {
        width: 90%;
    }
}